body {
    margin: !important;
    padding: !important;
}

#header {
    border: 1px;
    height: 100%;
    width: 100%;
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}